*{
    margin: 0;
    padding: 0;
    font-family: Arial; 
    border: border-box;
}
.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navlogo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("logo.jpeg");
    background-size:contain;
    background-repeat: no-repeat;
    height: 50px;
    width: 100%;
    
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white;
}
/* box2*/
.loc-icon{
    display: flex;
    align-items: center;
}
.add-first{
    font-size: 1rem;
    color: #cccccc;
    margin-left: 15px;
      
}
.add-second{
    font-size: 1rem;
    margin-left: 3px;
}
/*box3*/
.nav-search{
    display: flex;
    justify-content: spaced-evenly;
    background-color: pink;
    width: 625px;
    height: 40px;
    border-radius: 3px;
}
.nav-search:hover{
    border: 2px solid orange;
}
.search-select{
    width: 50px;
    text-align: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #f3f3f3;
    border: none;
}
.search-input{
    width: 100%;/* khali bacha hua area will occupy*/
    font-size: 1rem;
    border: none;
}
.Search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgb(205, 137, 18);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
/*box 4*/
span{
    margin-left: 3px;
    font-size: 0.7rem;
}
.nav-second{
    margin-left: 3px;
    font-weight: 700;
    font-size: 0.85rem;
}
.returns{
    margin-left: 3px;
    font-size: 0.7rem;
}
.orders{
    margin-left: 3px;
    font-weight: 700;
    font-size: 0.85rem;
}
/*box 6*/
.nav-cart{
    font-size: 30px;
    display: flex;
    padding: 10px 5px;
    align-items: end;
    gap: 2px;
}
.font-cart{
    font-size: 0.85rem;
    font-weight: 700;
    justify-items: last baseline;
}
/*panel*/
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-ops p{
    display: inline;
    margin-left: 15px;
}
.panel-ops{
width: 70%;
font-size: 0.85rem;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}
/*hero section*/
.hero-section{
    background-image: url(amazon\ hero.jpg);
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
}
.hero-msg{
    background-color: white;
    height: 40px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 35px;
}
.hero-msg a{
    color: #007185;
}
/*shop-section*/
.shop-section{
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
height: 100px;
/*border: 2px solid black;*/
width: 23%;
height: 400px;
background-color: white;
padding: 20px 0px 15px;
margin-top: 15px;

}
.box-content{
    margin-left: 16px;
    margin-right: 16px;
}
.box-image{
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-size: contain;
    background-repeat: no-repeat;
}
.box-content p{
    color: #007185;
    padding-top: 300px;
}